header{
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 40pt;
    background-color:#f5f5f5 ;
}
/* #1F1F1F
#f5f5f5
# rgba(114, 104, 211, 0.8)
#3D3D3D; */

body{
    margin: 20pt;
    background-color:#f5f5f5 ;
    font-family: 'Noto Sans', sans-serif;
}

footer{
    margin-top: 40pt;
    background-color:#f5f5f5 ;
}

table,tr,th,td{
    border: 1px solid #f5f5f5;
    border-collapse: collapse;
    padding: 5pt;
}

#formDiv{
    font-family: 'Noto Sans', sans-serif;
    background-color: rgba(114, 104, 211, 0.8) ;
    margin: 10pt;
    padding: 10pt;
    /* box-sizing: border-box; */
    width: 40%;
    
    float: left;
}
#tableDiv{
    font-family: 'Noto Sans', sans-serif;
    margin: 10pt;
    padding: 10pt;
    /* box-sizing: border-box; */
    width: 50%;
    
    float: right;
    background-color: rgba(114, 104, 211, 0.8) ;
}

#namefield{
    width: 150pt;
    
}
#amount{
    width: 150pt;
}

#submit{
    width: 150pt;
    margin-left: 100pt;
    background-color: #1F1F1F;
    color: #f5f5f5;
}

table{
    background-color: #1F1F1F;
    color: #f5f5f5;
    margin-left: 75pt;
}
h1{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

body { 
    background-image: url('../../imgs/school.jpg');
    background-position: center center; 
    background-size: 100% 100%; 
} 